@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,600;0,700;1,500&display=swap");
:root {
  --deepgrey: #3a3a3a;
  --hotpink: #e02c6d;
}

* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  width: 1312px;
  margin: 0 auto;
  border: 2px solid rgb(120, 120, 120);
  background: #ffffff;
}
img {
  width: 100%;
}
.header-container {
  width: 90%;
  margin: 0 auto;
  margin-bottom: 30px;
}
.main {
  width: 90%;
  margin: 00 auto;
}
/* Navigation Bar */
.navigation-bar {
  /* background-color: lightpink; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
}
.company-name h3 {
  font-weight: 700;
  font-size: 24px;
}
.menu a {
  text-decoration: none;
  font-weight: 600;
  font-size: 16px;
  margin-left: 34px;
  color: black;
}
/* ------------------
    banner section
----------------- */
.banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.banner-content {
  width: 45%;
}
.banner-content h1 {
  font-weight: 700;
  font-size: 52px;
  color: var(--deepgrey);
}
.banner-content p {
  font-weight: 600;
  font-size: 16px;
  color: var(--deepgrey);
  margin-bottom: 16px;
}
.banner-btn {
  padding: 5px 10px;
  border-radius: 20px;
  font-weight: 700;
  font-size: 16px;
  border: none;
  color: white;
  background-color: var(--hotpink);
}
.banner-image {
  width: 40%;
  height: 471px;
  background: url("./assets/images/Circle\ design.svg") no-repeat;
  background-size: cover;
}
.banner-image img {
  width: 100%;
}
.banner-website-logos {
  width: 90%;
  margin: 0 auto;
  margin-top: 70px;
  text-align: center;
  border-width: 1px;
  border-style: solid;
  border-image: linear-gradient(
      to right,
      rgba(255, 255, 255, 0),
      #93a8a8,
      rgba(255, 255, 255, 0)
    )
    1;
  padding: 20px;
}
.company-logos {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  align-items: center;
  column-gap: 2rem;
  justify-content: center;
}
.company-logos .logo {
  width: 90%;
}

/* -------------------
    Product Section
------------------- */
.product-section {
  width: 95%;
  margin: 00 auto;
}
.see-more {
  text-align: right;
}
.see-more a {
  text-decoration: none;
  display: inline-block;
  padding: 20px 0;
  color: var(--hotpink);
}

.section-title {
  font-weight: 600;
  font-size: 28px;
  color: var(--deepgrey);
  text-align: center;
}
.products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}
.product {
  background: #ffffff;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  padding: 20px;
}
.product-details {
  margin-top: 16px;
}
.product-details h2 {
  font-weight: 500;
  font-size: 28px;
  margin-bottom: 10px;
}
.price {
  font-weight: 400;
  font-size: 24px;
  color: rgba(0, 0, 0, 0.719);
  display: inline-block;
  margin-bottom: 15px;
}
.product-review i {
  color: #fb8200;
  margin-bottom: 10px;
}
.product-details p {
  font-weight: 700;
  font-size: 14px;
  color: #787885;
}
/* -----------------
  Additional Section
-------------------- */
.additional-section {
}
.additional-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.additional-image {
  width: 40%;
}
.additional-content {
  width: 52%;
}
.additional-title {
  font-weight: 700;
  font-size: 38px;
  margin-bottom: 16px;
}
.additional-para {
  font-weight: 700;
  font-size: 16px;
  color:#6C6C6C;
  margin-bottom: 16px;
}
.additional-btn{
  text-decoration: none;
  color: white;
  background-color: var(--hotpink);
  padding: 10px 20px;
  border-radius: 5px;
  margin-top: 15px;
  display: inline-block;
}
